body {
  font-family: sans-serif;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
  justify-content: center;
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.node {
  align-items: center;
  border: 1px solid black;
  border-radius: 0.25rem;
  display: flex;
  font-size: 3rem;
  height: 8rem;
  margin-bottom: 0;
  width: 16rem;
}

.node > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.node:after {
  content: '';
  position: absolute;
  border-right: 1px solid black;
  height: 8rem;
  width: 16rem;
  transform: translateX(-50%);
}

.pointer {
  height: 4rem;
  width: 8rem;
}
